<p><strong>Node:</strong> <br /><%= f.select :node_id, Node.find(:all, :order => 'name').collect { |n| [ n.name, n.id ] }, { :include_blank => true } %></p>
<p><strong>Database Instance:</strong> <br /><%= f.select :database_instance_id, DatabaseInstance.find(:all, :order => 'name').collect { |d| [ d.name, d.id ] }, { :include_blank => true } %></p>
<p><strong>Assigned at:</strong> <br/><%= f.datetime_select :assigned_at %></p>