Package: nventory-client
Version: 1.65.5
Maintainer: John Tran<jtran@attinteractive.com>
Architecture: all
Depends: cdpr, liblwp-useragent-determined-perl,libxml-libxml-perl, libcrypt-ssleay-perl, libwww-perl, lshw, sysstat
Description: nVentory client

