<%- @tooltips = [] %>
<%- @page_title = "Utilization Metric Name: " + h(@utilization_metric_name.name) %>

<div class="record_view">

<h1>Utilization Metric Name: <%=h @utilization_metric_name.name %></h1>

<p class="metadata"><strong>Created at:</strong> <%= h(@utilization_metric_name.created_at) %><br />
<strong>Updated at:</strong> <%= h(@utilization_metric_name.updated_at) %></p>

</div>

<%= @tooltips %>
