<%- if @producers.empty? -%>
<strong><font color="red">No producers with that outlet type found.</font></strong>
<%- else -%>
<p>
Producer:
  <%= select_tag "outlet[producer_id]", options_for_select(@producers) %>
</p>
<%- end -%>

<%- if @consumers.empty? -%>
<strong><font color="red">No consumers with that outlet type found.</font></strong>
<%- else -%>
<p>
Consumers:
  <%= select_tag "outlet[consumer_id]", options_for_select(@consumers) %>
</p>
<%- end -%>

<%= hidden_field(:outlet, :consumer_type, :value => @consumer_type) %>
