<%- @tooltips = [] %>
<%- @page_title = "Visualization of Datacenter: " + h(@datacenter.name) %>

<%- column_count = 3 -%>
<%- row_count = (@datacenter.node_racks.count / column_count).to_i + 1 -%>
<%- rack_index = 0 -%>
<table style="width:100%">
<tbody>
<%- row_count.times do -%>
<tr>
  <%- column_count.times do -%>
    <td>
    <%- if rack_index < @datacenter.node_racks.count -%>
      <%= render :partial => 'node_racks/rack_visualization', :locals => { :node_rack => @datacenter.node_racks.fetch(rack_index) } %>
    <%- else -%>
    &nbsp;
    <%- end -%>
    </td>
  <%- rack_index = rack_index + 1 -%>
  <%- end -%>
</tr>
<%- end -%>
</tbody>
</table>

<%= @tooltips %>
