<%= "<font color=green>" + service.recursive_contacts.join(', ') + "</font>" %><br />
<%= button_to_function 'Hide contacts list', "Element.show('view_all_contacts_link');Element.hide('list_all_contacts')"%></p>
