<li>
  <%= link_to child_node_group_assignment.child_group.name, :controller => 'node_groups', :action => 'show', :id => child_node_group_assignment.child_group.id %>
  <% if !child_node_group_assignment.child_group.child_groups.empty? %>
    <ul><%= render :partial => 'shared/child_node_group_assignment', :collection => child_node_group_assignment.child_group.assignments_as_parent.sort {|a,b| a.child_group.name <=> b.child_group.name} %></ul>
  <% end %>  
</li> 
