<li>
  <em><%= link_to 'serves', service_service_assignment_path(child_service_assignment) %></em>=>
  <%= link_to child_service_assignment.child_service.name, :controller => 'node_groups', :action => 'show', :id => child_service_assignment.child_service.id %>
  <% if !child_service_assignment.child_service.child_services.empty? %>
    <ul><%= render :partial => 'shared/child_service_assignment', :collection => child_service_assignment.child_service.service_assignments_as_parent %></ul>
  <% end %>  
</li> 
