<div id="version_information">
<p><%= link_to_remote 'Fetch Version History', :url => self.send('version_history_' + object.class.to_s.underscore + '_path', object), :method => :get, :update => 'version_information' %></p>
</div>