<p><strong>Virtual Host:</strong> <br /><%= f.select :parent_id, Node.find(:all, :order => 'name').collect { |n| [ n.name, n.id ] }, { :include_blank => true } %></p>
<p><strong>Virtual Guest:</strong> <br /><%= f.select :child_id, Node.find(:all, :order => 'name').collect { |n| [ n.name, n.id ] }, { :include_blank => true } %></p>
<p><strong>Assigned at:</strong> <br/><%= f.datetime_select :assigned_at %></p>
